<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ir.khaled.mydictionary"
    android:installLocation="auto"
    android:versionCode="23"
    android:versionName="2.0.4" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme" >
        <activity
            android:name="ir.khaled.mydictionary.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ir.khaled.mydictionary.Preferences"
            android:label="Preferences" />
        <activity
            android:name="ir.khaled.mydictionary.AboutActivity"
            android:label="About">
            <intent-filter>
                <action android:name="ir.khaled.mydictionary.AboutActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="ir.khaled.mydictionary.DialogMeaning"
            android:label="meaning" />
        <activity
            android:name="ir.khaled.mydictionary.Backup"
            android:label="@string/title_activity_backup"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="ir.khaled.mydictionary.Backup" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="ir.khaled.mydictionary.LeitnerActivity"
            android:label="@string/title_activity_leitner" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE"/>
</manifest>
